
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/cache ###
/var/*
###< symfony/cache ###

###> symfony/vendor dir ###
/vendor
###> symfony/vendor dir ###

###> symfony/migrations dir ###
/migrations
###> symfony/migrations dir ###