
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/cache ###
/var/*
###< symfony/cache ###

###> symfony/vendor file ###
/vendor
###> symfony/vendor file ###